In [1]:
int('10', 2) # 문자열 '10'을 2진수로 형변환

2

In [2]:
int('10', 8) # 문자열 '10'을 8진수로 형변환

8

In [3]:
int('10', 16) # 문자열 '10'을 16진수로 형변환

16

# 정수형에 대한 연산

In [4]:
number1 = 10
number2 = 20

In [6]:
print(number1 + number2)
print(number1 - number2)
print(number1 * number2)
print(number1 / number2) # 나누기 연산 -> 몫을 구한다 -> 결과가 항상 실수
print(number1 // number2) # 나누기 연산 -> 몫을 구한다 -> 결과가 항상 정수
print(number1 % number2)
print(number1 ** number2)

30
-10
200
0.5
0
10
100000000000000000000

In [7]:
number = int(input("정수를 입력하세요 :"))

print("number = ", number)

정수를 입력하세요 :10.5

ValueError: invalid literal for int() with base 10: '10.5'

In [8]:
number = int(float(input("정수를 입력하세요 :")))

print("number = ", number)

정수를 입력하세요 :10.5
number =  10

In [12]:
print( float(98))

98.0

In [13]:
print( float('98'))

98.0

In [14]:
print( float('98.5'))

98.5

In [15]:
print( float(True))

1.0

In [19]:
float_number1=10.5
float_number2=20.5

In [21]:
print(float_number1 + float_number2)

31.0

In [22]:
print(float_number1 - float_number2)
print(float_number1 * float_number2)
print(float_number1 / float_number2)

-10.0
215.25
0.5121951219512195

In [24]:
print(number1)
print(float_number1 // number1)
print(number1 // float_number1)

10
1.0
0.0

In [31]:
b = b'b'
ba = bytearray(b'bb')

In [32]:
ba[0] = ord('P')

In [33]:
print(b)
print(ba)

b'b'
bytearray(b'Pb')

In [34]:
print(type(b))

<class 'bytes'>

# 매서드
## .decode() : Unicode타입으로 변환
## .encode() : bytes 타입으로 변환

In [35]:
print(type(b.decode()))

<class 'str'>

In [36]:
str = b.decode()
print(str, type(str))

b <class 'str'>

In [38]:
print(type(str.encode))

<class 'builtin_function_or_method'>

In [39]:
print(type(ba))

<class 'bytearray'>

In [43]:
print(type(bytes(ba)))

<class 'bytes'>