In [1]:
t = (1, 'hello', 10.5)

In [2]:
t[0]

1

In [3]:
t[2]

10.5

In [4]:
t[len(t) -1]

10.5

In [5]:
last = len(t) - 1
t[last]

10.5

In [6]:
for i in range(len(t)):
    print(t[i])

1
hello
10.5

In [7]:
t[0] = 5

TypeError: 'tuple' object does not support item assignment

In [8]:
for value in t:
    print('{0} -> {1}'.format(value, type(value)))

1 -> <class 'int'>
hello -> <class 'str'>
10.5 -> <class 'float'>

In [9]:
t[0:2:1]

(1, 'hello')

In [10]:
t[:2]

(1, 'hello')

In [11]:
t[::]

(1, 'hello', 10.5)

In [12]:
t[:]

(1, 'hello', 10.5)

In [13]:
t[::-1]

(10.5, 'hello', 1)

### 결합

In [17]:
t2 = ('python','program','bigdata')
t2

('python', 'program', 'bigdata')

In [18]:
t3 = t + t2
t3

(1, 'hello', 10.5, 'python', 'program', 'bigdata')

In [19]:
t + (1, "hello", "10.5")

(1, 'hello', 10.5, 1, 'hello', '10.5')

### 반복

In [20]:
t*2

(1, 'hello', 10.5, 1, 'hello', 10.5)

In [21]:
t2*3

('python',
 'program',
 'bigdata',
 'python',
 'program',
 'bigdata',
 'python',
 'program',
 'bigdata')

In [22]:
t3 * 2

(1,
 'hello',
 10.5,
 'python',
 'program',
 'bigdata',
 1,
 'hello',
 10.5,
 'python',
 'program',
 'bigdata')

### 포함 유무 확인

In [23]:
1 in t

True

In [24]:
'hello' in t

True

In [25]:
10.5 in t

True

### 길이 계산

In [28]:
print('t length :{}, t2 length : {}, t3 length :{}'.format(len(t),len(t2),len(t3)))

t length :3, t2 length : 3, t3 length :6

### 중첩 tuple

In [29]:
t = (10, 15, 25)
t2 = t,(100, 150, 250)

In [31]:
print('{} \n {}'.format(t, t2))

(10, 15, 25)
 ((10, 15, 25), (100, 150, 250))

In [32]:
print( 't -> {}\tt2 ->{}'.format(len(t), len(t2)))

t -> 3	t2 ->2

In [33]:
for i in range(len(t2)):
    print(t2[i])

(10, 15, 25)
(100, 150, 250)

In [35]:
t2[0], type(t2[0])

((10, 15, 25), tuple)

In [36]:
t2[0][0]

10

In [37]:
for i in range(len(t2)):
    for j in range(len(t2[i])):
        print('{}\t'.format(t2[i][j]))
    print()

10
15
25

100
150
250

In [38]:
for i in range(len(t2)):
    print('{}행'.format(i))
    for j in range(len(t2[i])):
        print('{}행{}열-{}\t'.format(i,j,t2[i][j]))
    print()

0행
0행0열-10
0행1열-15
0행2열-25

1행
1행0열-100
1행1열-150
1행2열-250

In [39]:
x,y,z = 1,2,3

In [40]:
print('x={},y={},z={}'.format(x,y,z))

x=1,y=2,z=3

In [41]:
(x1,y1),(x2,y2) = (10,10),(100,100)

print('({},{}) ({},{})'.format(x1,y1,x2,y2))

(10,10) (100,100)

### tuple을 이용한 변수 내용 교환

In [42]:
x = 10
y = 20

In [43]:
print(x,y)

10 20

In [44]:
x = y
print(x,y)

20 20

In [51]:
x = 10
y = 20

print(x,y)

10 20

In [52]:
temp = x
x = y
y = temp

print(x,y)

20 10

In [53]:
x,y = y,x
print(x,y)

10 20

### tuple 패킹 / 언패킹

In [54]:
t = 1, 2, 3

print(t)

(1, 2, 3)

In [55]:
x,y,z = t
print(x,y,z)

1 2 3

In [56]:
a, *b = t

print(a,b)

1 [2, 3]

In [57]:
*c, d = t
print(c,d)

[1, 2] 3

In [58]:
t = (1,2,3,2,4,2,1)
print(t)

(1, 2, 3, 2, 4, 2, 1)

In [59]:
t.count(2)

3

In [60]:
t.count(1)

2

In [61]:
t.count(3)

1

In [62]:
t.index(2)

1

In [63]:
t.index(3)

2

In [67]:
t.index(2,2) # 검색 시작위치 지정

3

In [69]:
del t[1] # tuple은 삭제 안됨!

TypeError: 'tuple' object doesn't support item deletion

In [70]:
z = ()
type(z)

tuple

## list

### list 생성

In [71]:
l = []
l1 = [ 1, 'hello', '10.5']
l2 = [(1,2,3), 'hello', [10,30,50]]

In [72]:
print(l , end=",")
print()
print(l1, end=',')
print()
print(l2, end=',')

[],
[1, 'hello', '10.5'],
[(1, 2, 3), 'hello', [10, 30, 50]],

In [73]:
l3 = list('hello')

print(l3)

['h', 'e', 'l', 'l', 'o']

## sequence 공통 연산 - list

### 인덱싱(indexing)

In [74]:
print(l1[0], l1[2])

1 10.5

In [79]:
for i in range(len(l1)):
    print(l1[i])

1
hello
10.5

In [80]:
for value in l1:
    print(value)

1
hello
10.5

In [81]:
for value in l2:
    print(value)

(1, 2, 3)
hello
[10, 30, 50]

In [84]:
for value in l2[0]:
    print(value)

1
2
3

In [85]:
for i in range(len(l2[0])):
    print(l2[0][i])

1
2
3

In [86]:
l1

[1, 'hello', '10.5']

In [88]:
l1[0] = 10
l1[1] = 'python'

l1

[10, 'python', '10.5']

In [89]:
del l1[0]

In [90]:
l1

['python', '10.5']

## 슬라이싱(slicing)

In [128]:
l = [1, "hello", True, 'python']
l

[1, 'hello', True, 'python']

In [129]:
l[:]

[1, 'hello', True, 'python']

In [130]:
l[1:4]

['hello', True, 'python']

In [131]:
l[::2]

[1, True]

In [132]:
l[-1]

'python'

In [133]:
l[::-1]

['python', True, 'hello', 1]

### 연결

In [134]:
ㅣ + [1,2,3]

['Python', 'Hello', 11, 10.5, 1, 2, 3]

In [135]:
ㅣ*3

['Python',
 'Hello',
 11,
 10.5,
 'Python',
 'Hello',
 11,
 10.5,
 'Python',
 'Hello',
 11,
 10.5]

### 포함 유무 확인

In [92]:
'hello' in l

True

### 길이 계산

In [94]:
len(l)

3

In [95]:
len(l1)

2

In [96]:
len(l2)

3

In [97]:
len(l2[0])

3

### list 요소 내용(값) 변경

In [98]:
l = ['python', 'program', 1, 10.5]
l

['python', 'program', 1, 10.5]

In [99]:
l[2] += 10
l

['python', 'program', 11, 10.5]

### 슬라이싱을 이용한 list 내용 (값) 변경

In [100]:
l[0:2] = ['Python', "Hello"]
l

['Python', 'Hello', 11, 10.5]

In [101]:
l[0:2] = [10]
l

[10, 11, 10.5]

In [102]:
l[0:2] = []
l

[10.5]

In [103]:
ㅣ = ['Python', 'Hello', 11, 10.5]
ㅣ

['Python', 'Hello', 11, 10.5]

In [104]:
del l[0:2]

In [105]:
l

[]

### 중첩 list

In [107]:
l = [
    ['hong', '010-1234-5678', 'hong@korea.com']
    ,['kim','010-2346-9876', 'kim@korea.com']
]

In [108]:
l

[['hong', '010-1234-5678', 'hong@korea.com'],
 ['kim', '010-2346-9876', 'kim@korea.com']]

In [109]:
for value in l:
    print(value)

['hong', '010-1234-5678', 'hong@korea.com']
['kim', '010-2346-9876', 'kim@korea.com']

In [110]:
len(l)

2

In [111]:
for i in range(len(l)):
    print(l[i])

['hong', '010-1234-5678', 'hong@korea.com']
['kim', '010-2346-9876', 'kim@korea.com']

In [115]:
for row in l:
    print('row = ', row, "\t", type(row),"\t",len(row))
    for value in row:
        print( value, '\t', end ="")
    print()
    print()

row =  ['hong', '010-1234-5678', 'hong@korea.com'] 	 <class 'list'> 	 3
hong 	010-1234-5678 	hong@korea.com

row =  ['kim', '010-2346-9876', 'kim@korea.com'] 	 <class 'list'> 	 3
kim 	010-2346-9876 	kim@korea.com

In [114]:
for i in range(len(l)):
    print('row = ',l[i],"\t", type(l[i]),"\t", len(l[i]))
    for j in range(len(l[i])):
        print(l[i][j],"\t",end="")
    print()
    print()

row =  ['hong', '010-1234-5678', 'hong@korea.com'] 	 <class 'list'> 	 3
hong 	010-1234-5678 	hong@korea.com

row =  ['kim', '010-2346-9876', 'kim@korea.com'] 	 <class 'list'> 	 3
kim 	010-2346-9876 	kim@korea.com

### 중첩 list를 이용한 구구단 표 작성

In [126]:
multiple = []

for i in range(2,10):
    dan = []
    for j in range(1,10):
        dan.append(i*j)
    multiple.append(dan)
    
for i in range(len(multiple)):
    print(multiple[i])
    
for i in range(8):
    for j in range(9):
        print( '{0:3d}'.format(multiple[i][j]), end ="")
    print()

[2, 4, 6, 8, 10, 12, 14, 16, 18]
[3, 6, 9, 12, 15, 18, 21, 24, 27]
[4, 8, 12, 16, 20, 24, 28, 32, 36]
[5, 10, 15, 20, 25, 30, 35, 40, 45]
[6, 12, 18, 24, 30, 36, 42, 48, 54]
[7, 14, 21, 28, 35, 42, 49, 56, 63]
[8, 16, 24, 32, 40, 48, 56, 64, 72]
[9, 18, 27, 36, 45, 54, 63, 72, 81]
  2  4  6  8 10 12 14 16 18
  3  6  9 12 15 18 21 24 27
  4  8 12 16 20 24 28 32 36
  5 10 15 20 25 30 35 40 45
  6 12 18 24 30 36 42 48 54
  7 14 21 28 35 42 49 56 63
  8 16 24 32 40 48 56 64 72
  9 18 27 36 45 54 63 72 81

In [127]:
#iterator 이용하여 구구단 출력
for dan in multiple:
    for value in dan:
        print('{0:3d}'.format(value), end="")
    print()

  2  4  6  8 10 12 14 16 18
  3  6  9 12 15 18 21 24 27
  4  8 12 16 20 24 28 32 36
  5 10 15 20 25 30 35 40 45
  6 12 18 24 30 36 42 48 54
  7 14 21 28 35 42 49 56 63
  8 16 24 32 40 48 56 64 72
  9 18 27 36 45 54 63 72 81