###

# 산술 내장 함수( 내장 수치 연산 함수 )

In [108]:
l = [ 39.515, 62.719, 82.638, 77.376, 53.376, -19.319 ]

print( f'l : {l} -> length : [ {len( l )} ]' )

l : [39.515, 62.719, 82.638, 77.376, 53.376, -19.319] -> length : [ 6 ]

In [109]:
# 합 계산
total = 0
for v in l:
    total += v
print( f'total : {total}' )

total : 296.305

In [110]:
print( f'total : {sum( l )}' )

total : 296.305

In [111]:
print( f'max number : {max( l )}' )
print( f'min number : {min( l )}' )

max number : 82.638
min number : -19.319

In [112]:
for v in l:
    print( f'{v} -> 절대값 {abs( v )}' )

39.515 -> 절대값 39.515
62.719 -> 절대값 62.719
82.638 -> 절대값 82.638
77.376 -> 절대값 77.376
53.376 -> 절대값 53.376
-19.319 -> 절대값 19.319

In [113]:
for v in l:
    print( f'{round( v, 1 )} -> 절대값 {round( abs( v ), 2 )}' )

39.5 -> 절대값 39.52
62.7 -> 절대값 62.72
82.6 -> 절대값 82.64
77.4 -> 절대값 77.38
53.4 -> 절대값 53.38
-19.3 -> 절대값 19.32

In [2]:
divmod(3,2)

(1, 1)

In [1]:
pow(2,3)

8

# dict( dictionary )

## dict 생성

### 빈 dict 생성

In [3]:
d = {}

print(f'd<{type(d)}> : {d} -> length : [{len(d)}]')

d<<class 'dict'>> : {} -> length : [0]

### 초기값을 이용한 dict 생성

In [5]:
d = { 'sun':0, 'mon':1, 'tue':2, 'wed':3,
    'thu':4,'fri':5,'sat':6}

print(f'd<{type(d)}> : {d} -> length : [{len(d)}]')

d<<class 'dict'>> : {'sun': 0, 'mon': 1, 'tue': 2, 'wed': 3, 'thu': 4, 'fri': 5, 'sat': 6} -> length : [7]

### dict() 함수를 이용한 형변환

In [7]:
# list -> dict

l = [[0,'sun'],[1,'mon'],[2,'tue']]
d = dict(l)

print(f'd<{type(l)}> : {l} -> length : [{len(l)}]')
print(f'd<{type(d)}> : {d} -> length : [{len(d)}]')

d<<class 'list'>> : [[0, 'sun'], [1, 'mon'], [2, 'tue']] -> length : [3]
d<<class 'dict'>> : {0: 'sun', 1: 'mon', 2: 'tue'} -> length : [3]

In [9]:
# tuple -> dict
t = ((0,'sun'),(1,'mon'),(2,'tue'))
d = dict(t)

print(f'd<{type(t)}> : {t} -> length : [{len(t)}]')
print(f'd<{type(d)}> : {d} -> length : [{len(d)}]')

d<<class 'tuple'>> : ((0, 'sun'), (1, 'mon'), (2, 'tue')) -> length : [3]
d<<class 'dict'>> : {0: 'sun', 1: 'mon', 2: 'tue'} -> length : [3]

In [10]:
d = dict(zero = 'sun', one = 'mon', two = 'tue')
print(f'd<{type(d)}> : {d} -> length : [{len(d)}]')

d<<class 'dict'>> : {'zero': 'sun', 'one': 'mon', 'two': 'tue'} -> length : [3]

In [13]:
# list -> dict
l = [(0,'sun'),(1,'mon'),(2,'tue')]
d = dict(l)

print(f'd<{type(l)}> : {l} -> length : [{len(l)}]')
print(f'd<{type(d)}> : {d} -> length : [{len(d)}]')

d<<class 'list'>> : [(0, 'sun'), (1, 'mon'), (2, 'tue')] -> length : [3]
d<<class 'dict'>> : {0: 'sun', 1: 'mon', 2: 'tue'} -> length : [3]

In [14]:
l = [0,'sun',1,'mon',2,'tue']
d = dict(l)

print(f'd<{type(l)}> : {l} -> length : [{len(l)}]')
print(f'd<{type(d)}> : {d} -> length : [{len(d)}]')

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [18]:
l = [[0,('sun',1,'mon',2,'tue')]]
d = dict(l)

print(f'd<{type(l)}> : {l} -> length : [{len(l)}]')
print(f'd<{type(d)}> : {d} -> length : [{len(d)}]')

d<<class 'list'>> : [[0, ('sun', 1, 'mon', 2, 'tue')]] -> length : [1]
d<<class 'dict'>> : {0: ('sun', 1, 'mon', 2, 'tue')} -> length : [1]

### dict 읽기/쓰다/추가

In [19]:
d = { 'hong':'010-1234-5678', 'kim':'010-2356-5849',
    'lee':'010-8585-9235'}
print(f'd<{type(d)}> : {d} -> length : [{len(d)}]')

d<<class 'dict'>> : {'hong': '010-1234-5678', 'kim': '010-2356-5849', 'lee': '010-8585-9235'} -> length : [3]

In [20]:
d['hong']

'010-1234-5678'

In [21]:
d['lee']

'010-8585-9235'

In [22]:
d['lee'] = '010-1111-1111'

In [23]:
d['lee']

'010-1111-1111'

In [24]:
d['park']

KeyError: 'park'

In [27]:
# 값 쓰기 - 존재하지 않는 key를 사용하면 값 추가
d['pack']='010-1234-1234'
print(f'd<{type(d)}> : {d} -> length : [{len(d)}]')

d<<class 'dict'>> : {'hong': '010-1234-5678', 'kim': '010-2356-5849', 'lee': '010-1111-1111', 'pack': '010-1234-1234'} -> length : [4]

### dict는 key값 중복을 허용하지 않는다.

In [30]:
d = {'sun':0,'mon':1,'tue':2,'sun':3}
print(f'd<{type(d)}> : {d} -> length : [{len(d)}]')

d<<class 'dict'>> : {'sun': 3, 'mon': 1, 'tue': 2} -> length : [3]

### 길이 계산 및 포함 유무 확인

In [31]:
len(d)

3

In [32]:
'sun' in d

True

In [33]:
'fri' in d

False

In [34]:
d + {'wed':4, 'thu':5}

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [35]:
d*2

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

## dict 메서드
### get()

In [36]:
d.get('sun')

3

In [37]:
d.get('mon')

1

In [38]:
d.get('fri', 'not found')

'not found'

In [39]:
d ['fri']

KeyError: 'fri'

In [41]:
d.get('fri') # 없는데 에러 안남

In [42]:
d.get('fri','nono') # 없는데 에러 안남

'nono'

### keys()

In [46]:
keys = d.keys()

for v in keys:
    print(v)

for v in list(keys):
    print(v)

sun
mon
tue
sun
mon
tue

### values()

In [47]:
values = d.values()

for v in values:
    print(v)
    
for v in list(values):
    print(v)

3
1
2
3
1
2

### items()

In [49]:
items = d.items()
print(items, type(items))

for v in items:
    print(v)
    
for v in list(items):
    print(v)

dict_items([('sun', 3), ('mon', 1), ('tue', 2)]) <class 'dict_items'>
('sun', 3)
('mon', 1)
('tue', 2)
('sun', 3)
('mon', 1)
('tue', 2)

In [51]:
for k,v in items:
    print(k,v)

sun 3
mon 1
tue 2

### update()

In [52]:
d1 = {'sun':0,'mon':1,'tue':2}
d2 = {'wed':3,'tue':4,'fri':5}

print(f'd<{type(d1)}> : {d1} -> length : [{len(d1)}]')
print(f'd<{type(d2)}> : {d2} -> length : [{len(d2)}]')

d<<class 'dict'>> : {'sun': 0, 'mon': 1, 'tue': 2} -> length : [3]
d<<class 'dict'>> : {'wed': 3, 'tue': 4, 'fri': 5} -> length : [3]

In [53]:
d1.update(d2) # 딕셔너리 결합!
 
print(f'd<{type(d1)}> : {d1} -> length : [{len(d1)}]')

d<<class 'dict'>> : {'sun': 0, 'mon': 1, 'tue': 4, 'wed': 3, 'fri': 5} -> length : [5]

In [54]:
## 파이썬 3.5부터 추가된 방법

d3 = {**d1,**d2}
print(f'd<{type(d3)}> : {d3} -> length : [{len(d3)}]')

d<<class 'dict'>> : {'sun': 0, 'mon': 1, 'tue': 4, 'wed': 3, 'fri': 5} -> length : [5]

### dict 요소 삭제

In [55]:
del d3['tue']
print(f'd<{type(d3)}> : {d3} -> length : [{len(d3)}]')

d<<class 'dict'>> : {'sun': 0, 'mon': 1, 'wed': 3, 'fri': 5} -> length : [4]

In [56]:
del d3['fri']
print(f'd<{type(d3)}> : {d3} -> length : [{len(d3)}]')

d<<class 'dict'>> : {'sun': 0, 'mon': 1, 'wed': 3} -> length : [3]

In [57]:
value = d3.pop('sun') # 삭제한 내용의 갑을 사용 가능

print(f'd<{type(d3)}> : {d3} -> length : [{len(d3)}]')
print(value)

d<<class 'dict'>> : {'mon': 1, 'wed': 3} -> length : [2]
0

In [58]:
d3.clear()
print(f'd<{type(d3)}> : {d3} -> length : [{len(d3)}]')

d<<class 'dict'>> : {} -> length : [0]

### dict 복사

In [59]:
print(f'd<{type(d1)}> : {d1} -> length : [{len(d1)}]')

d<<class 'dict'>> : {'sun': 0, 'mon': 1, 'tue': 4, 'wed': 3, 'fri': 5} -> length : [5]

In [61]:
# dict 치환 - 복사(reference 복사)
d_copy = d 

print(id(d), id(d_copy))

2065300895680 2065300895680

In [63]:
d_copy = d.copy()
print(id(d), id(d_copy)) # 아이디가 다르다는 것은 다른 메모리 공간에 저장되어 있다는 것을 의미한다.

2065300895680 2065301696384

In [64]:
d = {'sun':0,'week':['mon','tue','wed']}
print(f'd<{type(d)}> : {d} -> length : [{len(d)}]')

d<<class 'dict'>> : {'sun': 0, 'week': ['mon', 'tue', 'wed']} -> length : [2]

In [66]:
d_copy = d.copy()
print(f'd<{type(d_copy)}> : {d_copy} -> length : [{len(d_copy)}]')

d<<class 'dict'>> : {'sun': 0, 'week': ['mon', 'tue', 'wed']} -> length : [2]

In [67]:
d_copy['week'][0] = 'MON'

print(f'd<{type(d)}> : {d} -> length : [{len(d)}]')
print(f'd<{type(d_copy)}> : {d_copy} -> length : [{len(d_copy)}]')

d<<class 'dict'>> : {'sun': 0, 'week': ['MON', 'tue', 'wed']} -> length : [2]
d<<class 'dict'>> : {'sun': 0, 'week': ['MON', 'tue', 'wed']} -> length : [2]

In [68]:
import copy
d_deepcopy = copy.deepcopy(d)

print(f'd<{type(d)}> : {d} -> length : [{len(d)}]')
print(f'd<{type(d_deepcopy)}> : {d_deepcopy} -> length : [{len(d_deepcopy)}]')

d<<class 'dict'>> : {'sun': 0, 'week': ['MON', 'tue', 'wed']} -> length : [2]
d<<class 'dict'>> : {'sun': 0, 'week': ['MON', 'tue', 'wed']} -> length : [2]

In [70]:
d_deepcopy['week'][0] = 'Monday'

print(f'd<{type(d)}> : {d} -> length : [{len(d)}]')
print(f'd<{type(d_deepcopy)}> : {d_deepcopy} -> length : [{len(d_deepcopy)}]')

d<<class 'dict'>> : {'sun': 0, 'week': ['MON', 'tue', 'wed']} -> length : [2]
d<<class 'dict'>> : {'sun': 0, 'week': ['Monday', 'tue', 'wed']} -> length : [2]

### dict 순회

In [71]:
for v in d:
    print(v)

sun
week

In [72]:
for v in d.keys():
    print(v)

sun
week

In [74]:
for v in d.values():
    print(v)

0
['MON', 'tue', 'wed']

In [75]:
for v in d.items():
    print(v)

('sun', 0)
('week', ['MON', 'tue', 'wed'])

In [78]:
for k,v in d.items():
    print(k,v)

sun 0
week ['MON', 'tue', 'wed']

### dict 비교

In [85]:
d1 = {'sun':0,'mon':1,'tue':2}
d2 = {'mon':1,'tue':2,'sun':3}
d3 = {'sun':1,'mon':2,'tue':3}

In [86]:
d1 == d2

False

In [87]:
d1 == d3

False

In [88]:
d1 != d2

True

In [89]:
d1 != d3

True

In [84]:
d1 > d2

TypeError: '>' not supported between instances of 'dict' and 'dict'

## dict comprehension

In [90]:
word = 'letters'
# 단어의 글자별 빈도수
d = {letter:word.count(letter) for letter in word}

print(f'd<{type(d)}> : {d} -> length : [{len(d)}]')

d<<class 'dict'>> : {'l': 1, 'e': 2, 't': 2, 'r': 1, 's': 1} -> length : [5]

In [92]:
# 원래는 for문을 사용하면?

d = {}

for letter in word:
    d[letter] = word.count(letter)
    
print(f'd<{type(d)}> : {d} -> length : [{len(d)}]')

d<<class 'dict'>> : {'l': 1, 'e': 2, 't': 2, 'r': 1, 's': 1} -> length : [5]

### 실습 문제풀이

In [104]:
MAX = 2
SUBJECT = 2

students = {}

for i in range(1,MAX+1):
    name = input(f'[{i:2}] 학생 이름 입력 : ')
    subject1 = int(float(input(f'[{i:2}] 학생의 과목 1 점수 입력 : ')))
    subject2 = int(float(input(f'[{i:2}] 학생의 과목 2 점수 입력 : ')))
    
    total = subject1 + subject2
    
    average = total/SUBJECT
    
    students[name] = [subject1, subject2, total, average]
    #print(students)


for k,v in students.items():
    print(f'{k:<20}', end ='')
    print(f'{v[0]:5}{v[1]:5}{v[2]:6}{round(v[3], 2):6}')
    print()

[ 1] 학생 이름 입력 : DD
[ 1] 학생의 과목 1 점수 입력 : 90
[ 1] 학생의 과목 2 점수 입력 : 10
[ 2] 학생 이름 입력 : TT
[ 2] 학생의 과목 1 점수 입력 : 90
[ 2] 학생의 과목 2 점수 입력 : 100
DD                     90   10   100  50.0

TT                     90  100   190  95.0

In [106]:
search_name = input('검색할 이름을 입력 하세요 :')

value = students.get(search_name, 0)

if value != 0:
    print(f'{search_name:<20}',end='')
    print(f'{value[0]:5}{value[1]:5}{value[2]:8} {round(value[3],2)}')
else:
    print(f'Error : {search_name:<20} 학생에 대한 성적은 없습니다.!!')

검색할 이름을 입력 하세요 :ll
Error : ll                   학생에 대한 성적은 없습니다.!!