# list 매서드

## list 복사

### copy() 메서드

In [3]:
l = [1,2,3]

print(f'[{id(l)}]]:{l} -> length {len(l)})')

[1543032243776]]:[1, 2, 3] -> length 3)

In [4]:
l_c1 = l.copy()

print(f'[{id(l_c1)}]]:{l_c1} -> length {len(l_c1)})')

[1543033196608]]:[1, 2, 3] -> length 3)

In [5]:
l_c2 = list(l)

print(f'[{id(l_c2)}]]:{l_c2} -> length {len(l_c2)})')

[1543033600448]]:[1, 2, 3] -> length 3)

In [6]:
l_c3 = l[:] # 슬라이싱

print(f'[{id(l_c3)}]]:{l_c3} -> length {len(l_c3)})')

[1543033009664]]:[1, 2, 3] -> length 3)

In [7]:
l_c3[0] = 10

print(f'[{id(l)}]]:{l} -> length {len(l)})')
print(f'[{id(l_c3)}]]:{l_c3} -> length {len(l_c3)})')

[1543032243776]]:[1, 2, 3] -> length 3)
[1543033009664]]:[10, 2, 3] -> length 3)

### 얕은 복사(shallow copy)

In [8]:
l = [1,2,3,[10,20]]

print(f'[{id(l)}]]:{l} -> length {len(l)})')

[1543033013056]]:[1, 2, 3, [10, 20]] -> length 4)

In [9]:
l_c =l.copy()

print(f'[{id(l_c)}]]:{l_c} -> length {len(l_c)})')

[1543033013056]]:[1, 2, 3, [10, 20]] -> length 4)

In [10]:
l_c[3][0] = 100

print(f'[{id(l)}]]:{l} -> length {len(l)})')
print(f'[{id(l_c)}]]:{l_c} -> length {len(l_c)})')

[1543033013056]]:[1, 2, 3, [100, 20]] -> length 4)
[1543033014720]]:[1, 2, 3, [100, 20]] -> length 4)

### 깊은 복사(deep copy)

In [11]:
l = [1,2,3,[10,20]]

print(f'[{id(l)}]]:{l} -> length {len(l)})')

[1543033008576]]:[1, 2, 3, [10, 20]] -> length 4)

In [13]:
import copy

l_c = copy.deepcopy(l)
print(f'[{id(l_c)}]]:{l_c} -> length {len(l_c)})')

[1543032964544]]:[1, 2, 3, [10, 20]] -> length 4)

In [14]:
l_c[3][0] = 100

print(f'[{id(l)}]]:{l} -> length {len(l)})')
print(f'[{id(l_c)}]]:{l_c} -> length {len(l_c)})')

[1543033008576]]:[1, 2, 3, [10, 20]] -> length 4)
[1543032964544]]:[1, 2, 3, [100, 20]] -> length 4)

### list 비교

In [17]:
l = [1,2,3]
l2 = [1,2]

print(f'[{id(l)}]]:{l} -> length {len(l)})')
print(f'[{id(l2)}]]:{l2} -> length {len(l2)})')

[1543033008576]]:[1, 2, 3, [10, 20]] -> length 4)
[1543033197824]]:[1, 2] -> length 2)

In [18]:
l == l2

False

In [19]:
l > l2

True

In [20]:
l < l2

False

In [22]:
l3 = [3,2,1]
l4 = [1,2,3]

print(f'[{id(l3)}]]:{l3} -> length {len(l3)})')
print(f'[{id(l4)}]]:{l4} -> length {len(l4)})')

[1543032979264]]:[3, 2, 1] -> length 3)
[1543032801856]]:[1, 2, 3] -> length 3)

In [24]:
l3 == l4

False

In [25]:
l3 > l4

True

In [26]:
l3 < l4

False

In [27]:
l3 = [1,2,3]
l4 = [10,20]

print(f'[{id(l3)}]]:{l3} -> length {len(l3)})')
print(f'[{id(l4)}]]:{l4} -> length {len(l4)})')

[1543034000704]]:[1, 2, 3] -> length 3)
[1543032244160]]:[10, 20] -> length 2)

In [28]:
l3 == l4

False

In [29]:
l3 > l4

False

In [30]:
l3 < l4

True

### list 순회

In [37]:
l = [1,2,'apple',10.5]

print(f'[{id(l)}]]:{l} -> length {len(l)})')

[1543033014720]]:[1, 2, 'apple', 10.5] -> length 4)

In [38]:
for i in range(len(l)):
    print(f'[{i:2}] : {l[i]}')

[ 0] : 1
[ 1] : 2
[ 2] : apple
[ 3] : 10.5

In [39]:
for v in l:
    print(f'{v}')

1
2
apple
10.5

In [42]:
i = 0
for v in l:
    print(f'[{i:2}] : {v}')
    i += 1

[ 0] : 1
[ 1] : 2
[ 2] : apple
[ 3] : 10.5

### enumerate() 함수 이용 방법

In [45]:
for t in enumerate(l): # t로 Tuple을 넘겨준다
    print(enumerate(l))
    print(f'{t}')

<enumerate object at 0x0000016743FFE740>
(0, 1)
<enumerate object at 0x0000016743FFE740>
(1, 2)
<enumerate object at 0x0000016743FFE740>
(2, 'apple')
<enumerate object at 0x0000016743FFE7C0>
(3, 10.5)

In [47]:
for i,v in enumerate(l):  # 두 개의 인자에 앞에는 인덱스를 뒤에는 값을 튜플형태로 넣어준다
    print(f'[{i:2}] : {v}')

[ 0] : 1
[ 1] : 2
[ 2] : apple
[ 3] : 10.5

### zip() 함수 이용 방법

In [49]:
name = ['hong', 'kim', 'lee', 'park']  # 짧은 쪽에 맞춰짐
tel = ['010-1234-5678','010-2345-6778','010-3456-5678']

for name, tel in zip(name,tel):
    print(f'{name}({tel})')

hong(010-1234-5678)
kim(010-2345-6778)
lee(010-3456-5678)

### list comprehension

### list에 하나씩 값 추가 방식

In [51]:
l = []

l.append(1)
l.append(2)
l.append(3)
l.append(4)
l.append(5)

print(f'l : {l}({len(l)}))')

l : [1, 2, 3, 4, 5](5))

In [52]:
l = []

for i in range(1,6):
    l.append(i)
    
print(f'l : {l}({len(l)}))')

l : [1, 2, 3, 4, 5](5))

In [53]:
l = list(range(1,6))

print(f'l : {l}({len(l)}))')

l : [1, 2, 3, 4, 5](5))

In [54]:
l = [ i for i in range(1,6)]

print(f'l : {l}({len(l)}))')

l : [1, 2, 3, 4, 5](5))

In [55]:
l = [ i for i in range(1,101, 2)]

print(f'l : {l}({len(l)}))')

l : [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99](50))

In [60]:
l_o = [1,2,"apple",10.5]

l = [(x,y) for x,y in enumerate(l_o)]
print(f'l : {l}({len(l)}))')

l : [(0, 1), (1, 2), (2, 'apple'), (3, 10.5)](4))

In [56]:
l = []

for i in range(1, 11):
    if i % 2 == 0:
        l.append(i)
        
print(f'l : {l}({len(l)}))')

l : [2, 4, 6, 8, 10](5))

In [58]:
l = [ i for i in range(1,11) if i % 2 == 0]

print(f'l : {l}({len(l)}))')

l : [2, 4, 6, 8, 10](5))

### list comprehension 구구단

In [63]:
for i in range(2,10):
    for j in range(1,10):
        print(i, "x", j, "=", i * j)
    print()

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72

9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [66]:
for x in [ [x, y, x * y] for x in range(2,10,1) for y in range(1, 10, 1) ]:
    print(x[0],'*',x[1],'=',x[2])

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [70]:
l =  [[x, y, x * y] for x in range(2,10,1) for y in range(1, 10, 1) ]
print(l)

[[2, 1, 2], [2, 2, 4], [2, 3, 6], [2, 4, 8], [2, 5, 10], [2, 6, 12], [2, 7, 14], [2, 8, 16], [2, 9, 18], [3, 1, 3], [3, 2, 6], [3, 3, 9], [3, 4, 12], [3, 5, 15], [3, 6, 18], [3, 7, 21], [3, 8, 24], [3, 9, 27], [4, 1, 4], [4, 2, 8], [4, 3, 12], [4, 4, 16], [4, 5, 20], [4, 6, 24], [4, 7, 28], [4, 8, 32], [4, 9, 36], [5, 1, 5], [5, 2, 10], [5, 3, 15], [5, 4, 20], [5, 5, 25], [5, 6, 30], [5, 7, 35], [5, 8, 40], [5, 9, 45], [6, 1, 6], [6, 2, 12], [6, 3, 18], [6, 4, 24], [6, 5, 30], [6, 6, 36], [6, 7, 42], [6, 8, 48], [6, 9, 54], [7, 1, 7], [7, 2, 14], [7, 3, 21], [7, 4, 28], [7, 5, 35], [7, 6, 42], [7, 7, 49], [7, 8, 56], [7, 9, 63], [8, 1, 8], [8, 2, 16], [8, 3, 24], [8, 4, 32], [8, 5, 40], [8, 6, 48], [8, 7, 56], [8, 8, 64], [8, 9, 72], [9, 1, 9], [9, 2, 18], [9, 3, 27], [9, 4, 36], [9, 5, 45], [9, 6, 54], [9, 7, 63], [9, 8, 72], [9, 9, 81]]

In [71]:
l = [] # 전체 구구단표 저장 list

for i in range( 2, 10 ):
    r = [] # 단을 저장하는 list
    for j in range( 1, 10 ):
        r.append( ( i, j, i*j ) ) 
    l.append( r )

print( l )
print()

for row in l:
    for column in row:
        print( f'{column[ 0 ]:2} X {column[ 1 ]:2} = {column[ 2 ]:2}' )
    print()

[[(2, 1, 2), (2, 2, 4), (2, 3, 6), (2, 4, 8), (2, 5, 10), (2, 6, 12), (2, 7, 14), (2, 8, 16), (2, 9, 18)], [(3, 1, 3), (3, 2, 6), (3, 3, 9), (3, 4, 12), (3, 5, 15), (3, 6, 18), (3, 7, 21), (3, 8, 24), (3, 9, 27)], [(4, 1, 4), (4, 2, 8), (4, 3, 12), (4, 4, 16), (4, 5, 20), (4, 6, 24), (4, 7, 28), (4, 8, 32), (4, 9, 36)], [(5, 1, 5), (5, 2, 10), (5, 3, 15), (5, 4, 20), (5, 5, 25), (5, 6, 30), (5, 7, 35), (5, 8, 40), (5, 9, 45)], [(6, 1, 6), (6, 2, 12), (6, 3, 18), (6, 4, 24), (6, 5, 30), (6, 6, 36), (6, 7, 42), (6, 8, 48), (6, 9, 54)], [(7, 1, 7), (7, 2, 14), (7, 3, 21), (7, 4, 28), (7, 5, 35), (7, 6, 42), (7, 7, 49), (7, 8, 56), (7, 9, 63)], [(8, 1, 8), (8, 2, 16), (8, 3, 24), (8, 4, 32), (8, 5, 40), (8, 6, 48), (8, 7, 56), (8, 8, 64), (8, 9, 72)], [(9, 1, 9), (9, 2, 18), (9, 3, 27), (9, 4, 36), (9, 5, 45), (9, 6, 54), (9, 7, 63), (9, 8, 72), (9, 9, 81)]]

 2 X  1 =  2
 2 X  2 =  4
 2 X  3 =  6
 2 X  4 =  8
 2 X  5 = 10
 2 X  6 = 12
 2 X  7 = 14
 2 X  8 = 16
 2 X  9 = 18

 3 X  1 =  3
 3 X  2 =  6
 3 X  3 =  9
 3 X  4 = 12
 3 X  5 = 15
 3 X  6 = 18
 3 X  7 = 21
 3 X  8 = 24
 3 X  9 = 27

 4 X  1 =  4
 4 X  2 =  8
 4 X  3 = 12
 4 X  4 = 16
 4 X  5 = 20
 4 X  6 = 24
 4 X  7 = 28
 4 X  8 = 32
 4 X  9 = 36

 5 X  1 =  5
 5 X  2 = 10
 5 X  3 = 15
 5 X  4 = 20
 5 X  5 = 25
 5 X  6 = 30
 5 X  7 = 35
 5 X  8 = 40
 5 X  9 = 45

 6 X  1 =  6
 6 X  2 = 12
 6 X  3 = 18
 6 X  4 = 24
 6 X  5 = 30
 6 X  6 = 36
 6 X  7 = 42
 6 X  8 = 48
 6 X  9 = 54

 7 X  1 =  7
 7 X  2 = 14
 7 X  3 = 21
 7 X  4 = 28
 7 X  5 = 35
 7 X  6 = 42
 7 X  7 = 49
 7 X  8 = 56
 7 X  9 = 63

 8 X  1 =  8
 8 X  2 = 16
 8 X  3 = 24
 8 X  4 = 32
 8 X  5 = 40
 8 X  6 = 48
 8 X  7 = 56
 8 X  8 = 64
 8 X  9 = 72

 9 X  1 =  9
 9 X  2 = 18
 9 X  3 = 27
 9 X  4 = 36
 9 X  5 = 45
 9 X  6 = 54
 9 X  7 = 63
 9 X  8 = 72
 9 X  9 = 81

In [72]:
# 0. 구구단표 list 생성
multiples = [ [ ( i, j, i * j ) for i in range( 2, 10 ) ] for j in range( 1, 10 ) ]
print( multiples )

[[(2, 1, 2), (3, 1, 3), (4, 1, 4), (5, 1, 5), (6, 1, 6), (7, 1, 7), (8, 1, 8), (9, 1, 9)], [(2, 2, 4), (3, 2, 6), (4, 2, 8), (5, 2, 10), (6, 2, 12), (7, 2, 14), (8, 2, 16), (9, 2, 18)], [(2, 3, 6), (3, 3, 9), (4, 3, 12), (5, 3, 15), (6, 3, 18), (7, 3, 21), (8, 3, 24), (9, 3, 27)], [(2, 4, 8), (3, 4, 12), (4, 4, 16), (5, 4, 20), (6, 4, 24), (7, 4, 28), (8, 4, 32), (9, 4, 36)], [(2, 5, 10), (3, 5, 15), (4, 5, 20), (5, 5, 25), (6, 5, 30), (7, 5, 35), (8, 5, 40), (9, 5, 45)], [(2, 6, 12), (3, 6, 18), (4, 6, 24), (5, 6, 30), (6, 6, 36), (7, 6, 42), (8, 6, 48), (9, 6, 54)], [(2, 7, 14), (3, 7, 21), (4, 7, 28), (5, 7, 35), (6, 7, 42), (7, 7, 49), (8, 7, 56), (9, 7, 63)], [(2, 8, 16), (3, 8, 24), (4, 8, 32), (5, 8, 40), (6, 8, 48), (7, 8, 56), (8, 8, 64), (9, 8, 72)], [(2, 9, 18), (3, 9, 27), (4, 9, 36), (5, 9, 45), (6, 9, 54), (7, 9, 63), (8, 9, 72), (9, 9, 81)]]

In [73]:
# 1. 구구단표 출력
for j in range( 8 ):
    for i in range( len( multiples ) ):
        print( f'{multiples[i][j][0]:2} X ', end = '' )
        print( f'{multiples[i][j][1]:2} = ', end = '' )
        print( f'{multiples[i][j][2]:2}' )
    print()

 2 X  1 =  2
 2 X  2 =  4
 2 X  3 =  6
 2 X  4 =  8
 2 X  5 = 10
 2 X  6 = 12
 2 X  7 = 14
 2 X  8 = 16
 2 X  9 = 18

 3 X  1 =  3
 3 X  2 =  6
 3 X  3 =  9
 3 X  4 = 12
 3 X  5 = 15
 3 X  6 = 18
 3 X  7 = 21
 3 X  8 = 24
 3 X  9 = 27

 4 X  1 =  4
 4 X  2 =  8
 4 X  3 = 12
 4 X  4 = 16
 4 X  5 = 20
 4 X  6 = 24
 4 X  7 = 28
 4 X  8 = 32
 4 X  9 = 36

 5 X  1 =  5
 5 X  2 = 10
 5 X  3 = 15
 5 X  4 = 20
 5 X  5 = 25
 5 X  6 = 30
 5 X  7 = 35
 5 X  8 = 40
 5 X  9 = 45

 6 X  1 =  6
 6 X  2 = 12
 6 X  3 = 18
 6 X  4 = 24
 6 X  5 = 30
 6 X  6 = 36
 6 X  7 = 42
 6 X  8 = 48
 6 X  9 = 54

 7 X  1 =  7
 7 X  2 = 14
 7 X  3 = 21
 7 X  4 = 28
 7 X  5 = 35
 7 X  6 = 42
 7 X  7 = 49
 7 X  8 = 56
 7 X  9 = 63

 8 X  1 =  8
 8 X  2 = 16
 8 X  3 = 24
 8 X  4 = 32
 8 X  5 = 40
 8 X  6 = 48
 8 X  7 = 56
 8 X  8 = 64
 8 X  9 = 72

 9 X  1 =  9
 9 X  2 = 18
 9 X  3 = 27
 9 X  4 = 36
 9 X  5 = 45
 9 X  6 = 54
 9 X  7 = 63
 9 X  8 = 72
 9 X  9 = 81